/* . */
.collapsible-container {
  border-bottom: 1px solid #dddddd5f;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  transition: background 0.3s ease;
}

.collapsible-header:hover {
  background-color: #e0e0e08f;
}

.collapsible-title {
  margin-left: 20%;

  font-size: 25px;
}

.collapsible-arrow {
  margin-right: 20%;
  font-size: 10px;
  font-weight: bold;
}

.collapsible-content {
  padding: 10px;
  background-color: #fff;
}
